h1 { color: red;

}
p { color: blue;
  font-family: "Helvetica";
  font-size: 16px
}

#unique{background-color: red;

}

.list{ background-color: green;

}

.list2{ background-color:
   blue}

   h2{ color: Orange
   }
